.container {
    height: 100vh;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    display: grid;

    background-color: #ffffff;
    grid-template-columns: 250px 1fr 1fr 250px;
    grid-template-rows: auto 120px 1fr auto;
    grid-template-areas: "headres headres headres headres"
        "section section section section"
        "aside main main main"
        "footer footer footer footer";

}

.inner-main{
     display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  margin-top: 20px;
}
.card {
    background-color:#ffffff;
    border-radius: 5px;
}
.pricing{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.headres {
    grid-area: headres;
    border: none;
    background: #ffffff;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
}

.section {
    grid-area: section;
    border: none;
    padding: 0 25px;
}


.inner-section{
display: flex;
flex-direction: column;
gap: 20px;

}

.aside {
    grid-area: aside;
    border: 1px solid #efedf1;
}

p.categori {
    font-size: 14px;
}


.main {
    grid-area: main;
 border: 1px solid #efedf1;
 padding: 0 40px;
}


.footer {
    grid-area: footer;
 border: 1px solid #efedf1;
    background: rgb(255, 140, 0);
    padding: 30px;
     padding: 0 40px;
}
.categories-serch {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inner-aside{
    display: grid;
grid-template-columns: repeat(1,1fr);

}

.Categories{
 border: 1px solid #efedf1;
 margin-bottom: 20px;
}
.Brand{
 border: 1px solid #efedf1;
  margin-bottom: 20px;
}

.Price{
 border: 1px solid #efedf1;
  margin-bottom: 20px;
}



/* innner-headderss-design  */

.inner-headers{
    display: grid;
    grid-template-columns: 10% 45% 25% 20%;
   
    align-items: center;
}

.inner-headers img {
    height: 90px;
    width: 100%;
    object-fit: contain;
    
}
.nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
 
}

.nav ul li {

        color: #2b2f42;
}
.nav ul li  a {
    text-decoration: none;
    text-transform: uppercase;
        font-size: 15px;
      
}

.search{
     display: flex;
     padding: 8px 10px;
     align-items: center;
     background-color: #f5f5f6;
     border: none;
     border-radius: 5px;
     gap: 10px;
   

}

.search input{
     background-color: #f5f5f6;
     border: none;
     border-radius: 5px;
     width: 100%;
   

}


.settings {
    display: flex;
    justify-content: space-evenly;

}


.profile{
   display: flex;
   flex-direction: column;
   align-items: center;
 
}

.profile p {
    font-weight: 650;
}

.Wishlist{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Wishlist p {
    font-weight: 650;
}

.Bag{
   display: flex;
   flex-direction: column;
   align-items: center;
}


.Bag p {
    font-weight: 650;
}

.section p {
    font-size: medium;
}
.categories-serch{
display: flex;
justify-content: space-around;
align-items: center;
}

.genderSection{
    margin-top: 10px;
    margin-bottom: 20px;
}
.checkboxes{
    margin: 10px;
 
}
 .aside label {
    font-size: 15px;
    font-weight: 600;
}
.aside input {
    height: 16px;
    width: 53px;
    margin-top: 0px;
}

@media(max-width :768px){
    .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr 1fr 250px;
    grid-template-rows: auto 100px 1fr auto;
    grid-template-areas: "headres headres headres headres"
        "section section section section"
        "main main main main"
        "footer footer footer footer";

}

.aside {
  display: none;
}

}