:root {
    --darkblue: #222831;
    /* blue */
    --greyclr: #393E46;
    /* green */
    --mainclr: #00ADB5;
    /* dark text */
    --whiteclr: #EEEEEE;
    /* light background */
    --font-primary: 'Poppins', sans-serif;
    --font-heading: 'Oswald', sans-serif;
}




.main {
    background: var(--darkblue);
    padding: 0 40px;
    min-height: 100vh;
}

.container {
  margin: 0 auto;
}

.logo {
    font-family: var(--font-heading);
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: var(--whiteclr);
    line-height: auto;
    letter-spacing: 0%;
}

.nav-element {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

ul li {
    list-style: none;

}

ul li a {
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 18px;
    color: var(--whiteclr);
}

.header-wraper {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.content-part {
    flex: 1;

}

.content-part p {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 96px;
    color: var(--whiteclr);
line-height: 1.0;
 
}

.content-part p span {
    color: var(--mainclr);
}

.content-inner{
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-wraper {
    display: flex;
    justify-content: space-between;
        margin-top: 50px;
    
}

.hire {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 18px;
    color: var(--whiteclr);
       padding: 9px 61px;
    border: none;
    border-radius: 25px;
    background-color: var(--mainclr);
}



.download {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 18px;
    color: var(--whiteclr);
    padding: 9px 61px;
    border: none;
    border-radius: 25px;
    background-color: var(--greyclr);
}



.image-part {
    flex: 1;
   
}


.image-inner {
  height: 500px;
  width: 100%;
  background-image: url("/images/round.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}

.group2 img {
    position: absolute;
    height: 460px;
    /* width: auto; */
    left: 100px;
    top: 140px;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
}



.about{
    margin-top: 100px;
}

.about-wraper{
    display: flex;

}
.about-content-main{
    flex: 1;

}

.about-content{
    margin-top: 20px;
}



.about-heading {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 46px;
    color: var(--whiteclr);
line-height: 1.0;
 
}

.about-heading span {
    color: var(--mainclr);
}

.about-dis {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 18px;
    color: var(--whiteclr);

 
}




.about-Image-main{
    flex: 2;
         height: 500px;
  width: 100%;
  background-image: url("/images/squre.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
} 
.about-Image {
    position: absolute;
    left: 237px;
    bottom: 0px;
}

.product{
    margin-top: 100px;
   
}



.product-wraper {
    background-image: url(/public/images/ProjectsPage.png);
    background-repeat: no-repeat;
    height: 800px;
    
padding: 150px;
display: flex;
align-items: center;
  
}

.product-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.card-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}


.card{
    padding: 50px;
   border-radius: 15px;
   /* background-color: #393E46; */
   background-color: rgba(57, 62, 70, 0.1); 
  
  /* Applying the blur */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
   
    
}



.product-heading {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 46px;
    color: var(--whiteclr);
line-height: 1.0;
 
}

.product-heading span {
    color: var(--mainclr);
}

.All{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 18px;
    color: var(--whiteclr);
       padding: 9px 27px;
    border: none;
    border-radius: 25px;
    background-color: var(--mainclr);
}



.ui{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 18px;
    color: var(--whiteclr);
    padding: 9px 27px;
    border: none;
    border-radius: 25px;
    background-color: var(--greyclr);
}

.product-button-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
}



.contact{
    margin-top: 200px;
    margin-bottom: 200px;
}
.contact-wraper{
    display: flex;
}
.contact-texts{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.contact-form{
    flex: 1;
}


.contact-heading {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 46px;
    color: var(--whiteclr);
line-height: 1.0;
 
}

.contact-heading span {
    color: var(--mainclr);
}

.contact-images{
    display: flex;
}

.form-lables{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.main-form label{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 14px;
    color: var(--whiteclr);

}

.name{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 14px;
    padding: 10px 12px;
 background-color: #393E46;
 border: none;
 border-radius: 10px;

}

.email{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 14px;
    padding: 10px 12px;
 background-color: #393E46;
 border: none;
 border-radius: 10px;

}

.message-lable{
     font-family: var(--font-primary);
    font-weight: 700;
    font-size: 14px;
    color: var(--whiteclr);
    margin-top: 10px;
}

.message{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 14px;
    padding: 10px 12px;
 background-color: #393E46;
 border: none;
 border-radius: 10px;
 min-height: 220px;

}



.Send-Message {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 16px;
    color: var(--whiteclr);
    padding: 7px 27px;
    border: none;
    border-radius: 25px;
    background-color: var(--mainclr);
    margin-top: 20px;
}


.footer-wraper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    padding: 50px;
}


.footer-text{
    display: flex;
   justify-content: end;
   align-items: end;
   padding: 40px;
}

.footer-icons{
    display: flex;
    justify-content: space-evenly;
}

.footer-navs{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    
}

.footer-text p{
      font-family: var(--font-primary);
    font-weight: 700;
    font-size: 14px;
    color: var(--whiteclr);
    margin-top: 10px;
}

.icon-back{
     padding: 15px;
   border-radius: 50px;
   /* background-color: #393E46; */
   background-color: rgba(57, 62, 70, 1.1); 
  
  /* Applying the blur */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
   
}

.icon-flex{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.icon-flex a{
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 18px;
    color: var(--whiteclr);
}