.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(11, 14, 9);
    border-radius: 2px;
    height: 70px;
    padding: 0 40px;
    /* ✅ important */
}


.logo img {
    height: 30px;
    width: auto;
}

.navitem ul {
    display: flex;

    list-style: none;
    color: aliceblue;
    cursor: pointer;
    gap: 40px;
}

.navitem ul li a {
    text-decoration: none;
    color: #fff;
    /* ✅ FIX */
    font-size: 14px;
    letter-spacing: 0.5px;
}

.profile ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    gap: 18px;
}

.profile img {
    height: 30px;
    width: auto;
}


.profile ul li a {
    color: #fff;
    /* ✅ FIX */
    font-size: 16px;
}