.dashboard{
  display:grid;
  height: 100vh;
  grid-template-rows:60px 1fr ;
  grid-template-columns: 250px 1fr ;
  grid-template-areas: "header header "
  "sidebar main "
  "footer footer ";
}

.header {
  grid-area: header;
  padding: 10px 20px;
  border: 1px solid black;
}

.headers-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo img {
  height: 40px;
  width: auto;
}


.nav-menu{
  display: flex;
  gap: 20px;
  list-style: none;


}
.profile{
  
}


.sidebar{
  grid-area: sidebar;
   padding: 20px;
  text-align: center;
  border: 1px solid black;
}

.main{
  grid-area: main;
   padding: 20px;
  text-align: center;
  border: 1px solid black;
}


.footer{
  grid-area: footer;
 padding: 20px;
  text-align: center;
  border: 1px solid black;

}
