.dashboard{
  display:grid;
  height: 100vh;
  grid-template-rows:60px 1fr ;
  grid-template-columns: 250px 1fr ;
  grid-template-areas: "header header "
  "sidebar main "
  "footer footer ";
}

.header{
  grid-area: header;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}


.headers-main{
 display: grid;
 grid-template-rows: 250px 1fr 60px;
 grid-template-columns: 250px 1fr 60px;
 grid-template-areas:"logo nav profile" ;
}

.logo{


}

.logo img{
height: 35px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;

}
.profile{
  
}


.sidebar{
  grid-area: sidebar;
   padding: 20px;
  text-align: center;
  border: 1px solid black;
}

.main{
  grid-area: main;
   padding: 20px;
  text-align: center;
  border: 1px solid black;
}


.footer{
  grid-area: footer;
 padding: 20px;
  text-align: center;
  border: 1px solid black;

}

